Source: pufferbian-gtk-theme
Section: misc
Priority: optional
Maintainer: Kacper Zacharski
Build-Depends: debhelper (>= 10.3),
Build-Depends-Indep: libglib2.0-dev,
                     meson (>= 0.45),
                     sassc,
Standards-Version: 1.0.0
Homepage: https://github.com/pufferbian/gtk-theme
Vcs-Browser: https://github.com/pufferbian/gtk-theme
Vcs-Git: https://github.com/pufferbian/gtk-theme

Package: pufferbian-gnome-shell-theme
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         pufferbian-gtk-theme
Description: Pufferbian GNOME Shell Theme
 The Pufferbian theme for GNOME Shell
 .
 This package contains the GNOME Shell theme part

Package: pufferbian-gtk-theme
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gnome-themes-extra,
         gtk2-engines-pixbuf,
         gtk2-engines-murrine,
Conflicts: pufferbian-gnome-shell-theme (<= 1.0.0),
Description: Pufferbian GTK Theme
 The Pufferbian theme for GTK.
 .
 This package contains the GTK 2 and 3 theme parts

Package: pufferbian-sound-theme
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Pufferbian sound theme
 The Pufferbian sound theme is based on the Pop sound theme. 
 .
 This package contains the sound theme
 .
 If you want to follow development, more information here:
 https://community.ubuntu.com/c/desktop/theme-refresh.
